*.pyc
*.mo
*.bam
*.txo
*.geanyprj
built/
build/
venv/
venvmac/
wvenv/
.project
.pydevproject
.sconsign.dblite
.settings/
options*.json
*.geany
*.tags
yorg_error.txt
assets/bld_version.txt
assets/images/loading/fastload*
assets/images/minimaps/fastload.png
assets/models/tracks/fastload/
assets/cars/minicar
assets/tracks/minitrack
assets/uml/sequence_diagrams.pdf
