*.pyc
*.mo
*.bam
*.txo
built/
build/
venv/
venvmac/
wvenv/
.project
.pydevproject
.sconsign.dblite
.settings/
options*.yml
*.geany
*.tags
yorg_error.txt
assets/bld_version.txt
assets/images/loading/fastload*
assets/images/minimaps/fastload.png
assets/models/tracks/fastload/

